h1{
    color: red;
}
.heading{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.item{
    border: solid;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{    
    display: flex;
    justify-content: flex-end;
}
h2,p{
    text-align: center;
}